{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
<center>
  <h1 class="text-5xl font-bold m-4 p-4 justify-center m-4 p-4">Todo Manager</h1><br />
  <h2 class="text-4xl m-4 p-4">Signup</h2><br />
  <form method="POST" action="">
    {% csrf_token %}
    <div class="container m-2 p-2">
      <p id="usernameSignup" class="m-1 p-1">
        {{form.username.label}}:<br />{{form.username}}
      </p>
      <p id="passwordSignup" class="m-1 p-1">
        {{form.password1.label}}:<br />
        <div class="border-width-1 border-black-600">
          {{form.password1}}
        </div>
      </p>
      <p class="justify-center" align="justify">
        <ul class="list-disc m-4 p-4 flex-wrap justify-center">
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li>Your password can’t be a commonly used password.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li>Your password can’t be entirely numeric.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        </ul>
      </p>
      <p id="passwordConfirmSignup" class="m-1 p-1">
        {{form.password2.label}}:<br />
        <div class="border-width-1 border-black-600">
          {{form.password2}}
        </div>
      </p>
      <br />
      <button
        type="submit"
        class="mx-4 px-4 bg-[#EF4444] hover:bg-[#EF1111] text-white font-bold text-2xl py-2 px-4 rounded w-96"
      >
        Signup
      </button>
    </div>
  </form>
</center>
{% endblock %}
